@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif
}

@media (max-width: 576px) {
    .profile-image {
        /* width: 150px !important;
        top: -123px !important;
        height: 150px !important; */
        width: 100px !important;
        height: 100px !important;        
        top: -61px !important;
        
        }
        .header-height{
            /* margin-top: -111px !important; */
            margin-top: -51px !important;
            }       
            .card-header > img{
                width:100% !important;
            } 

}

/* @media (min-width: 767.98px){
    .card {
        width: 100% !important;
        }

} */



.header-height{
text-align: center;
position: static;
margin-top: -81px;
margin-bottom: 44px;
}
.featureimage{
    min-height: 25px;
}
.profile-image{
    border-radius: 150px;
    /* width: 250px;
    top: -175px;
    height: 250px; */
    /* width: 200px;
	
    height:200px ;    
	top: -160px;
	*/
	width: 150px;
    height:150px ;   
    top: -85px;
    position: relative;
    z-index: 10;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}
.profile-image > img{
    width: 80%;
}

.card-header > img{
    width:750px;
}
body {
    display: grid;
    place-items: center;
    /* background: #AB47BC; */
    background: #ffff;
}

.card {
	/* color:#fff; */
    /* width: 450px; */
    border-radius: 10px;
   /* background: linear-gradient(145deg, #9a40a9, #b74cc9);
box-shadow:  20px 20px 60px #913ca0, 
             -20px -20px 60px #c552d8; */
    border: none;
    background: #ffff;
}


.bottom-24 {
    bottom: 24%!important;
}
.mt-m15{
    margin-top: -15px;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 1.42857;
    margin-left:10px;
}

.ks-btn{
    color: #fff;
    background-color: #f85663;
    border: 2px solid #c7c7c7;
}

/* .social-buttons > a{
    margin: 0 16px;
    background: #3597fb;
    padding: 26px 27px 23px 27px;
    display: inline-block;
    border-radius: 50px;
    cursor: pointer;
} */
.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
background: linear-gradient(145deg, #9a40a9, #b74cc9);
box-shadow: inset 20px 20px 60px #913ca0, 
             inset -20px -20px 60px #c552d8;
}

.num{
	
	color:#eee !important;
}

.line{
	color:#fff;
}

.neo-button:active {
   border-radius: 50%;
background: #AB47BC;
box-shadow:  28px 28px 57px #933da2, 
             -28px -28px 57px #c351d6;
}

.fa-facebook {
    color: #3b5998
}

.fa-linkedin {
    color: #0077b5
}

.fa-google {
    color: #dc4e41
}

.fa-youtube {
    color: #cd201f
}

.fa-twitter {
    color: #55acee
}

.profile_button{
	color:#fff;
	padding:10px; 
   border:none;
   outline:0 !important;
border-radius: 50px;
background: #AB47BC;
box-shadow:  28px 28px 57px #933da2, 
             -28px -28px 57px #c351d6;
	
}


 